<template lang='pug'>
  div.fill-height(style="background: whitesmoke")
    v-container.pa-5.my-0(style="border-radius: 10px; display: block;" fill-height fluid)
  
      userInfo

      template
        v-list.pa-5.my-3(width="100%")
          v-row(no-gutters)
            v-col.pa-4(md="6" cols="12" style="margin-right: -1px;")
              p.font-weight-light.title Выберите сумму пополнения
              v-list
                template(v-for='value in payments')
                  v-list-item.fill(@click='createBill(value.sum)')
                    v-list-item-avatar()
                      v-icon mdi-cash-multiple
                    v-list-item-content
                      v-list-item-title Пополнить на {{ value.sum }} руб.
                      v-list-item-subtitle Бонус: {{Math.round((value.multiplier - 1) * 100)}} %. Итого: {{ value.sum * value.multiplier }} руб.
                    v-list-item-action.chevron
                      v-icon(color='black' large) mdi-chevron-right

            v-divider(vertical)

            v-col.pa-4(md="6" cols="12" style="margin-left: -1px;")
              p.font-weight-light.title История пополнений
              v-list
                template(v-for='value in user.bills')
                  v-list-item(@click='redirect(value.link)') 
                    v-list-item-avatar()
                      v-icon(:color='getInfo(value.status).color') {{ getInfo(value.status).icon }}
                    v-list-item-content
                      v-list-item-title Пополнение {{ value.variant.sum * value.variant.multiplier }} руб.
                      v-list-item-subtitle {{ new Date(value.time).toISOString() }}
                    v-list-item-action
                      v-btn.disable-events(
                        :color='getInfo(value.status).color'
                        text
                      ) {{ getInfo(value.status).text }}
</template>

<script>
import { mapGetters } from 'vuex';
import UserInfo from './userInfo.vue';

export default {
  components: {
    UserInfo,
  },

  async mounted() {
    this.getPaymentVariants()
  },

  computed: {
    ...mapGetters({
      user: 'USER'
    })
  },

  data: () => ({

    /**
     * Возможные варианты пополнения
     * @type {PaymentVariant[]}
     */
    payments: [],
  }),

  methods: {
    /**
     * Получить варианты оплаты
     */
    async getPaymentVariants() {
      const result = await window.webApi.emit('bill variants');
      if (!result) {
        showAlert('Нет соединения с сервером, попробуйте обновить страницу');
        return;
      }

      this.payments = result;
    },

    /**
     * Создать счёт на оплату
     * @param {number} sum
     */
    async createBill(sum) {
      const result = await window.webApi.emit('bill create', {
        amount: sum,
      });

      if (!result.success) {
        showAlert(result.data);
        return;
      }

      this.redirect(result.data);
    },

    /**
     * Переадресация пользователя
     * @param {string} ref
     */
    redirect(ref) {
      window.location.href = ref;
    },

    /**
     * Получить информацию о платеже по коду результата
     * @param {number} code
     * @returns {{ color: string, text: string, icon: string }}
     */
    getInfo(code) {
      switch (code){
        case -2: {
          return {
            text: 'ОТМЕНЕНО',
            color: 'red',
            icon: 'mdi-alarm'
          } 
        }
        case -1: {
          return {
            text: 'ОШИБКА',
            color: 'red',
            icon: 'mdi-alert-circle'
          }
        }
        case 0: {
          return {
            text: 'ОЖИДАНИЕ',
            color: '#eca041',
            icon: 'mdi-alarm'
          }
        }
        case 1: {
          return {
            text: 'УСПЕШНО',
            color: 'green',
            icon: 'mdi-check-outline'
          }
        }
      }

      return {
        text: 'НЕИЗВЕСТНО',
        color: 'grey',
        icon: 'mdi-close'
      }
    }
  },
};
</script>
<style>
  p {
      margin: 0 !important;;
  }

  .disable-events {
      pointer-events: none
  }
  .chevron {
    opacity: 0;
    transition: all .3s ease;
  }
  .fill:hover > .chevron {
    opacity: 1;
  }
</style>
