<template lang='pug'>
  div.fill-height(style="background: whitesmoke")
    v-container.pa-5.my-0(style="border-radius: 10px; display: block;" fill-height fluid)
  
      userInfo

      template(v-if='bot')
        v-list.pa-5.my-3(
          width="100%"
          style="padding-bottom: 30px !important;"
        )
          p.font-weight-light.display-1 Статические сообщения    
          p.font-weight-thin.title(style="margin-bottom: 15px !important;") Необходимо настроить сообщение, которое будет отправлять бот на команду /start
          
          v-text-field.px-5.my-2.mb-0(
            hint='%USER_NAME% заменится на имя пользователя'
            v-model="bot.messages.welcome" 
            persistent-hint
            rows="3"
          )

        v-list.pa-5.my-3(
          width="100%"
          style="padding-bottom: 30px !important;"
        )
          p.font-weight-light.display-1 Подключенные сервера
          p.font-weight-thin.title(style="margin-bottom: 15px !important;") Здесь настраивается информация о вайпах на серверах
          
          server-editor(:servers='bot.servers')

        v-list.pa-5.my-3(width="100%")
          p.font-weight-light.display-1 Кнопки в сообщениях
          p.font-weight-thin.title Создай идеальный функционал, добавив нужные тебе кнопки
          
          buttons-editor(:buttons='bot.buttons' :servers='bot.servers' @block='block')

        v-list.pa-5.my-3(width="100%")
          v-btn(
            @click="saveBot()" 
            block 
            depressed 
            color='rgb(124 193 125)' 
            :disabled='blocked'
            style='transition: all .3s;'
          )
            p.font-weight-light(style='color: white;') СОХРАНИТЬ БОТА





</template>

<script>
import ServerEditor from './serverEditor.vue';
import ButtonsEditor from './buttonsEditor.vue';
import Broadcast from './broadcast.vue';
import { mapGetters } from 'vuex';
import UserInfo from './userInfo.vue';


export default {
  components: {
    ButtonsEditor,
    Broadcast,
    UserInfo,
    ServerEditor
  },
  async mounted() { 
  },
  computed: {
    ...mapGetters({
      user: 'USER'
    }),
    bot() {
      const { id } = this.$route.params;

      if (!this.user) {
        console.error('Пользователь ещё не загружен!');
        return null;
      }

      return this.user.bots.find(v => v._id == id);
    }
  },
  data: () => ({
    blocked: false,
  }),
  methods: {
    async saveBot() {
      if ( !this.checkBot() ) {
        return;
      }
      const result = await window.webApi.emit('bot save', this.bot);
      if (typeof result != 'boolean') {
        showAlert(result);
        return;
      }
      console.log(3);
      showAlert('Настройки бота успешно сохранены!', 'success');
    },

    checkBot() {
      if (!this.bot.messages.welcome || this.bot.messages.welcome.length == 0) {
        showAlert('Необходимо настроить статические сообщения!');
        return false;
      }
      
      if (this.bot.buttons.length > 1) {
        this.bot.buttons = this.bot.buttons.filter(v => v.length > 0);
      }

      if (this.bot.buttons[0].length == 0) {
        showAlert('Добавьте хотя бы одну кнопку');
        return false;
      }

      return true;
    },

    block(v) {
      this.blocked = v;
    },

    goBack() {
      this.$router.push(`/index`);
    },

    goToBill() {
      this.$router.push('/balance');
    }

    
  },
};
</script>
<style>
  p {
      margin: 0 !important;
  }
  
  .border {
    transition: all .3s;
    border: solid 1px;
    border-color: rgb(0 0 0 / 0.04) !important;
    border-radius: 0 !important;
  }
</style>
