<template lang='pug'>
  div.fill-height(style="background: whitesmoke")
    v-container.pa-5.my-0(style="border-radius: 10px; display: block;" fill-height fluid)
  
      userInfo

      template
        v-list.pa-5(elevation="0" width="100%")
          p.font-weight-light.display-1 Глобальная рассылка   
          p.font-weight-thin.heading В любой момент вы можете разослать это сообщение всем, кто подтверил согласие
          v-textarea.px-5.py-2(
            v-model="broadcast.msg" 
            label="Отправляемый текст" 
            dense 
            auto-grow 
            rows="1"
          )
          v-text-field.px-5.py-2(
            v-model="broadcast.attachment" 
            label="Прикрепляемая картинка (по желанию)" 
          )
          v-list(
            v-if="progressBar.progress>0"
          )
            v-progress-linear(
              color="teal"
              :value="progressBar.progress"
              height="20px"

            ) 
              p {{ Math.ceil(progressBar.progress) }}%
            v-row(no-gutters)
              p.font-weight-light.title Успешно отправлено: {{progressBar.success}}
              v-spacer
              p.font-weight-light.title Ошибок в отправке: {{progressBar.errors}}
          
          v-btn(
            v-if="progressBar.progress==0"
            @click="showDialog = true" 
            block
            text
          ) Запустить рассылку

      template
        v-list.pa-5(elevation="0" width="100%")
          
          
          subscribers(:subscribers="bot.subscribers")

    v-dialog(v-model='showDialog' max-width='400')
      v-card
        v-card-title.headline Внимание!
        v-card-text  Рассылку нельзя будет отменить или отредактировать. Вы действительно хотите это сделать?
        v-card-actions
          v-spacer
          v-btn(color='green darken-1' text @click='showDialog = false') Нет, я передумал
          v-spacer
          v-btn(color='green darken-1' text @click='sendBroadcast()') Да, я согласен


  
        
</template>

<script>
import { mapGetters } from 'vuex';
import UserInfo from './userInfo.vue';
import Subscribers from './subscribers.vue';


export default {
  components: {
    UserInfo,
    Subscribers,
  },

  props: ['_id'],
  async mounted() {
    window.webApi.socket.on('bot broadcast status', (/** @type {any} */ obj) => {
      this.progressBar.progress = obj.progress;
      this.progressBar.errors = obj.errors;
      this.progressBar.success = obj.success;

    });
  },
  computed: { 
    ...mapGetters({
      user: 'USER'
    }),

    bot() {
      const { id } = this.$route.params;

      if (!this.user) {
        console.error('Пользователь ещё не загружен!');
        return null;
      }

      return this.user.bots.find(v => v._id == id);
    },
   
  },
  data: () => ({
    /** @type {Broadcast} */
    broadcast: {
      msg: '',
      attachment: '',
    },

    /**
     * @type {ProgressBar}
     */
    progressBar: {
      progress: 0,
      errors: 0,
      success: 0,
    },

    showDialog: false,
  
  }),
  methods: {
    async sendBroadcast() {
      const { id } = this.$route.params;

      const bot = this.user.bots.find(v => v._id == id);

      if (!bot) {
        return;
      }

      const result = await window.webApi.emit('bot broadcast', {
        _id: id,
        msg: this.broadcast.msg,
        attachment: this.broadcast.attachment,
      });

      this.showDialog = false;
      if (typeof(result) == 'string') {
        showAlert(result);
        return;
      }
      
      showAlert('Рассылка началась!', 'success');
    },

    goToBill() {
      this.$router.push('/balance');
    }

     
  },

  
};
</script>
<style>
  p {
      margin: 0 !important;
  }

</style>
