<template lang='pug'>
  v-row(no-gutters)
            v-col.pa-4(sm="5" cols="12")
              p.font-weight-light.title Предпросмотр клавиатуры
              template(v-for='(line, index) in buttons')
                v-row(no-gutters)
                  v-col(cols='10')
                    v-row.align-center.justify-center(no-gutters)
                      v-btn.ma-1.font-weight-light(disabled 
                                text 
                                block 
                                v-if="line.length==0") [ЗДЕСЬ ПОКА НИЧЕГО НЕТ. ДОБАВЬТЕ КНОПКИ]
                      template(v-for="button in line")
                        v-col.text-truncate.pa-1
                          v-btn.text-truncate(:color="colors[button.color].hex"
                                style='width: 100%'
                                block 
                                depressed
                                @click="editButton(button, line)") 
                            p.text-truncate.font-weight-light(:style="'color: ' + colors[button.color].textColor") {{button.name}} 
                            v-icon(style="padding-top: 3px; margin-left: 4px" v-if="button.type == 'uri'" small color='#5887bc') mdi-arrow-top-right
                  v-col.pa-1(cols='2')
                    v-btn.square-btn(@click="addButton(line)" 
                          block 
                          text 
                          outlined 
                          depressed) +
              v-col.pa-1(cols="10")
                v-btn.square-btn(@click="addLine()"
                  block
                  text
                  outlined
                  depressed
                )
                  p.font-weight-light Добавить строку 



            v-col(cols="12" sm="7")
              v-card.elevation-0.py-4.border.padding-x
                template(v-if='editorInfo')
                  p.font-weight-light.title.mb-2 Настройки кнопки
                  v-row(no-gutters) 
                    template(v-for="(value, key) in types")
                      v-tooltip(top)
                        template(v-slot:activator='{ on }')
                          v-btn.mr-2.font-weight-light.square-btn(
                            :color='editorInfo.reference.type == key ? "#e5e5e5" : "whitesmoke"'
                            @click="setType(key)" 
                            depressed
                            v-on='on'
                          ) {{value.name}}
                        span {{ value.tooltip }}

                  v-text-field.mt-3(
                    label="Название кнопки" 
                    v-model="editorInfo.reference.name"
                    color="#000"
                  )
                  template(v-if='editorInfo.reference.type != "wipe"')
                    template(v-for="(value) in types[editorInfo.reference.type].fields")
                      template(v-if='value.showLabel')
                        p {{ value.label }}
                      component(
                        :is="value.drawType" 
                        :placeholder="value.placeholder"
                        :label='value.label'
                        v-model="editorInfo.reference.data[value.key]" 
                        persistent-hint
                        :multiple='true'
                        color="#000"
                        rows="1" 
                        auto-grow
                      )
                        template(v-if='value.help' v-slot:append)
                          v-tooltip(left color='teal' max-width='350px')
                            template(v-slot:activator='{ on }')
                              v-icon(v-on='on' @click='editorInfo.reference.data[value.key] = value.help') mdi-help-circle-outline
                            p {{ value.help }}
                    template(v-if='editorInfo.reference.type == "wipe"')
                      v-subheader Сообщение и работа данной кнопки настраиваются автоматически, в зависимости от настроек серверов

                  p.body-1.mt-3 Выберите цвет кнопки
                  v-row.mb-3(no-gutters)
                    template(v-for="(value, key) in colors")
                      v-col.pr-2
                        v-btn.white--text(@click="setColor(key)" :color="value.hex" block depressed) 
                          v-icon(:color="colors[key].textColor") {{ key==editorInfo.reference.color ? 'mdi-check' : '' }}
                          p.font-weight-light(v-if='!types[editorInfo.reference.type].colorSupport && key!=editorInfo.reference.color') [НЕДОСТУПНО]
                  template 
                    v-bottom-navigation.pa-0.ma-0.elevation-0(style='justify-content: flex-end;')
                      v-btn(text @click='saveButton(true)')
                        p.font-weight-light Сохранить
                        v-icon(large color='#369b60') mdi-content-save-outline
                      v-btn(text @click='deleteButton()') 
                        p.font-weight-light Удалить
                        v-icon(large color='red') mdi-delete-outline 
                      v-btn(text @click='saveButton(false)')
                        p.font-weight-light Отменить
                        v-icon(large) mdi-close

                template(v-else)
                  p.font-weight-light.title Настройки кнопки 
                  p.font-weight-thin.subtitle Не выбрана кнопка для редактирования 




</template>

<script>

export default {
  async mounted() {
  },
  computed: {
  },
  props: ['buttons', 'servers'],
  watch: {
    editorInfo: function (newVal, oldVal) {
      this.$emit('block', !!newVal);
    }
  },
  data: function () {
    return {
      types: {
        text: {
          name: 'Текст',
          colorSupport: true,

          tooltip: 'Отправляет указанный текст пользователю',

          canChoose: () => {
            return true;
          },

          fields: [{
            label: 'Отправляемый текст',
            key: 'msg',
            drawType: 'v-textarea',

            required: true,
          },{
            label: 'Ссылка на прикрепляемое изображение',
            key: 'attachment',
            drawType: 'v-text-field',

            help: 'Ссылка должна содержать "photo111111111_111111111". Например: "https://vk.com/romadomor?z=photo235044502_456244134"',

            required: false,
          }]
        },
        uri: {
          name: 'Ссылка',
          colorSupport: false,

          tooltip: 'Перенаправляет пользователя на сайт',

          canChoose: (/** @type {Button[]} */ line) => {
            return line.length <= 2;
          },

          fields: [{
            label: 'URL ссылка',
            key: 'uri',
            drawType: 'v-text-field',

            required: true,
          }]
        },
        subscribe: {
          name: 'Рассылка',
          colorSupport: false,

          tooltip: 'Даёт возможность дать согласие на рассылку',

          canChoose: () => {
            return true;
          },

          fields: [{
            label: 'Отправляется, когда пользователь нажимает "подписаться" не будучи подписанным',
            key: 'sub_start',
            drawType: 'v-text-field',

            help: 'Привет, предлагаем тебе подписаться на рассылку о вайпах на нашем сервере, а также других событиях. Ты согласен?',

            required: true,
          },{
            label: 'Отправляется, когда пользователь подписывается на рассылку',
            key: 'sub_yes',
            drawType: 'v-text-field',

            help: 'Спасибо за подписку, постараемся не надоедать!',

            required: true,
          },{
            label: 'Отправляется, когда пользователь нажимает "подписаться" будучи подписанным',
            key: 'sub_status',
            drawType: 'v-text-field',

            help: 'Ты уже подписан на рассылку, неужели ты хочешь отписаться?',

            required: true,
          },{
            label: 'Отправляется, когда пользователь отписывается от рассылки',
            key: 'unsub_yes',
            drawType: 'v-text-field',

            help: 'Жаль, надеюсь ты вернешься к нам позже',

            required: true,
          }]
        },
        stats: {
          name: 'Статистика',
          colorSupport: true,

          tooltip: 'Выводит статистику игрока',

          canChoose: () => {
            return true;
          },

          fields: [{
            label: 'Отправляется, если у пользователя не привязан стим',
            key: 'no_steam',

            drawType: 'v-text-field',

            required: true
          }]
        },
        wipe: {
          name: 'Когда вайп?', 
          colorSupport: true,

          tooltip: 'Выводит информацию о предстоящих вайпах',

          canChoose: () => {
            return true;
          },
          fields: []
        }
      },

      colors: {
        default: {
          name: 'По умолчанию',
          hex: '#e6ebf1',
          textColor: 'rgb(85, 103, 125)'
        },
        positive: {
          name: 'Зеленый',
          hex: '#4eb24f',
          textColor: 'white'
        },
        negative: {
          name: 'Красный',
          hex: '#e34c4d',
          textColor: 'white'
        },
        primary: {
          name: 'Синий',
          hex: '#5380b7',
          textColor: 'white'
        }
      },

      editorInfo: null,
    }
  },
  methods: {
    addWipeDate(btn) {
      btn.data['новый сервер'] = {
        wipes: [{
          date: 1.05,
          global: true 
        }]
      }
    },
    // ------------------------------------------
    // Методы редактора конкретной кнопки
    // ------------------------------------------

    /**
     * Показать редактор кнопки
     * @param {Button} button - кнопка
     * @param {Button[]} line - линия на которой находится кнопка
     */
    editButton(button, line) {
      if (this.editorInfo) {
        window.showAlert('Завершите настройку кнопки!');
        return;
      }

      this.editorInfo = {
        save: JSON.parse(JSON.stringify(button)),
        reference: button,
        line: line,
      }
    },

    /**
     * Удалить текущую кнопку
     */
    deleteButton() {
      const index = this.editorInfo.line.indexOf(this.editorInfo.reference);
      this.editorInfo.line.splice(index, 1);


      this.editorInfo = null;
    },

    /**
     * Закончить редактирование кнопки
     * @param {boolean} save - true - сохранить, false - отменить
     */
    saveButton(save) {
      /** @type {any} */
      const editorInfo = this.editorInfo;
      if (editorInfo == null) { 
        return;
      }

      if (!save) {
        Object.assign(editorInfo.reference, editorInfo.save);
        this.editorInfo = null;
        return;
      }

      if (!this.checkButton()) {
        return;
      }

      this.editorInfo = null;
    },

    checkButton() {
      /** @type {any} */
      const editorInfo = this.editorInfo;
      if (editorInfo == null) { 
        showAlert('Неизвестная ошибка');
        return false;
      }

      // Проверка заполненности всех полей

      /** @type {string} */
      const typeKey = editorInfo.reference.type;
      const allFields = this.types[typeKey].fields;

      /** @type {any[]} */
      const requiredFields = allFields.filter((/** @type {any} */ v) => v.required == true);


      const emptyField = requiredFields.find(v => {
        const result = editorInfo.reference.data[v.key];
        return (!result || result.length == 0)
      });

      if (emptyField || !editorInfo.reference.name) {
        showAlert('Остались незаполненные поля');
        return false;
      }
       
      // Проверка названий кнопок

      const line = this.buttons.find(/** @type {any[]} */ v => {
        const wrongName = v.find(/** @type {any} */ value => value.name == editorInfo.reference.name && value != editorInfo.reference);

        return !!wrongName;
      });

      if (line) {
        showAlert('Кнопка с таким названием уже существует');
        return false;
      }

      return true;
    },

    /** 
     * Установить тип для редактируемой кнопки
     * @param {string} type
     */
    setType(type) {
      const result = this.types[type];
      if (!result) {
        showAlert('Неизвестная ошибка, обновите страницу');
        return;
      }

      if (!result.canChoose(this.editorInfo.line)) {
        showAlert('Нельзя выбрать ссылку если в строке больше 2 кнопок');
        return;
      }

      this.editorInfo.reference.type = type;

      this.editorInfo.reference.color = 'default'; 
      this.editorInfo.reference.data = {};
    },

    /**
     * Установить цвет для редактируемой кнопки
     * @param {string} color
     */
    setColor(color) {
      const colorInfo = this.colors[color];
      if (!colorInfo) {
        showAlert('Неизвестная ошибка, обновите страницу');
        return;
      }

      const type = this.types[this.editorInfo.reference.type];
      if (!type.colorSupport) {
        showAlert('У этой кнопки нельзя изменить цвет');
        return;
      }

      this.editorInfo.reference.color = color;
    },

    /**
     * Скопировать настраиваемое поле
     * @param {any[]} type
     * @param {any} field
     */
    copyField(type, field) {
      const newField = Object.assign({}, field);
      field.multiple = false;

      newField.key += '1';

      type.push(newField);
    },

    // ------------------------------------------
    // Вспомогательыне методы
    // ------------------------------------------

    /**
     * Проверить соответствие ссылки к прикрепляемому объекту
     * @param {string} input
     * @return {string|boolean}
     */
    matchAttachment(input) {
      const regex = /.*(photo.\d*_\d*)/;
      
      const result = input.match(regex);
      if (!result || result.length != 2) {
        return false;
      }

      return result[1];
    },


    // ------------------------------------------
    // Методы управления макетом
    // ------------------------------------------
    
    /**
     * Добавляет новую линию в массив
     */
    addLine() {
      if (this.buttons.length >= 10) {
        showAlert('Нельзя создать более 10 строк');
        return;
      }
      
      if (this.buttons.length > 0) {
        const lastLine = this.buttons[this.buttons.length - 1];
        if (lastLine.length == 0) {
          showAlert('В текущей последней строке нет кнопок');
          return;
        }
      }

      this.buttons.push([]);
      showAlert('Строка успешно добавлена', 'success');
    },

    /**
     * Добавляет новую кнопку в линию
     * @param {Button[]} line
     */
    addButton(line) {
      const uriButton = line.find(v => v.type == 'uri');
      if (uriButton && line.length >= 2) {
        showAlert('В строке в которой есть ссылка, может быть лишь две кнопки');
        return;
      }

      if (line.length >= 5) {
        showAlert('В строке слишком много кнопок');
        return;
      }

      line.push({
        name: 'Новая кнопка ' + line.length ,
        type: 'text',
        color: 'default',
        data: {
          msg: 'Тестовое сообщение'
        }
      });

      showAlert('Кнопка успешно добавлена', 'success');
    }
  },
};
</script>
<style>
  p {
      margin: 0 !important;
  }
  .square-btn {
    border-radius: 0 !important;
  }
    .v-btn__content {
      width: 100%;
    }
  .theme--light.v-btn:hover:before {
    opacity: .01 !important;
  }
  .theme--light.v-btn:focus:before {
    opacity: .01 !important;
  }
  .border {
    transition: all .3s;
    border: solid 1px;
    border-color: rgb(0 0 0 / 0.04) !important;
    border-radius: 0 !important;
  }
</style>
