<template lang='pug'>
  div.fill-height(style="background: whitesmoke")
    v-container.pa-5.my-0(style="border-radius: 10px; display: block;" fill-height fluid)

      userInfo
                  
      template
        v-list.py-5.my-3.padding-x(width="100%") 
          p.font-weight-light.display-1 Управление ботами 
          p.font-weight-thin.title Здесь вы можете добавить и отредактировать бота

          v-row(no-gutters)
            v-col.pa-4(md="6" cols="12")
              v-list(v-if='user && user.bots') 
                template(v-for='value in user.bots')
                  v-list-item(
                    @click='editBot(value)' 
                    :style='currentBot && currentBot._id == value._id ? "background-color: #f5f5f5" : "background-color: white"'
                  )
                    v-list-item-avatar
                      v-avatar
                        v-img(:src='value.avatar')
                    v-list-item-content
                      v-list-item-title {{ value.name }}
                      v-list-item-subtitle Состояние — {{ getStatusFromId(statuses[value._id]) }}
                    v-list-item-action.ml-0
                      v-btn(
                        text 
                        icon 
                        @click='switchBot(value._id, true)' 
                        :disabled='statuses[value._id] != -1'
                      )
                        v-icon() mdi-play
                    v-list-item-action.ml-0
                      v-btn(text icon @click='switchBot(value._id, false)' :disabled='statuses[value._id] != 1')
                        v-icon() mdi-stop
              v-divider
              v-list()
                v-list-item(@click="creationState.show = 'true', currentBot = null") 
                  v-list-item-avatar
                        v-img(src='https://vk.com/images/community_200.png?1')
                  v-list-item-content
                    v-list-item-title Создать нового бота
                    v-list-item-subtitle Не создавайте повторяющихся ботов 

            v-col.pa-4(cols="12" md="6" v-if='currentBot')
              template.pa-1(v-for="(value, key) in botOptions" )
                v-list
                  v-list-item(@click="redirect(value)" :disabled="key=='statistic'")
                    v-list-item-avatar
                      v-icon {{botOptions[key].icon}}
                    v-list-item-content
                      v-list-item-title {{value.name}}
                      v-list-item-subtitle {{value.description}}
              v-divider
              template.pa-1
                v-list 
                  v-list-item(@click="showDialog = true")
                    v-list-item-avatar
                      v-icon mdi-delete
                    v-list-item-content
                      v-list-item-title Удалить бота
                      v-list-item-subtitle Отменить это действие нельзя будет отменить
            
            v-col.pa-4(cols="12" md="6" v-if="creationState.show")
              template 
                p.font-weight-light.title Создание нового бота
                v-text-field(label='API-ключ' type='password' v-model="bot.token" hide-details prepend-icon='mdi-key-variant')
                a(@click='open(help)') 
                  v-subheader Как получить API-ключ?
                v-btn.font-weight-light(@click='createBot()' depressed block) Создать нового бота


    v-dialog(v-model='showDialog' max-width='400')
      v-card(v-if='currentBot')
        v-container
          v-card-text.font-weight-light.pa-0 Введите название группы, в качестве подтверждения удаления бота
          v-text-field.mb-3(label='Название группы' v-model="checkDelete" hide-details :placeholder='currentBot.name')
          v-row(align='center' justify='start' no-gutters)
            v-btn.white--text(color='red lighten-1' depressed @click='deleteBot()' :disabled='currentBot.name != checkDelete') Удалить
            v-btn.font-weight-light(color='#737373' text @click='showDialog = false') Отмена


</template>

<script>
import { mapGetters } from 'vuex';  
import UserInfo from './userInfo.vue'; 

export default {
  components: {
    UserInfo,
  },

  async mounted() {
    this.updateBots(); 
  },
  computed: {
    ...mapGetters({
      user: 'USER',
      help: 'HELP_TOKEN'
    })
  },
  data: () => ({
    statuses: {},

    bot: {
      token: '',
    },

    creationState: {
      show: false,
    },

    currentBot: null,
    showDialog: false,

    checkDelete: null,
    
    botOptions: {
      settings: {
        name: 'Настройки',
        icon: 'mdi-cog',
        description: 'Вы можете настроить своего бота',

        uri: '/bot/%ID%',

        canChoose: () => {
          return true;
        },
      },
      statistic: {
        name: 'Статистика (скоро)',
        icon: 'mdi-chart-line',
        description: 'Вы можете посмотреть, как часто нажимают определенные кнопки и др.',

        uri: '/stats/%ID%',

        canChoose: () => {
          return true;
        },
      },
      broadcast: {
        name: 'Глобальная рассылка',
        icon: 'mdi-message-text',
        description: 'Вы можете отправить сообщение всем, кто согласился',

        uri: '/broadcast/%ID%',

        canChoose: (/** @type {BotInfo} */ bot, /** @type {any} */ statuses) => {
          return statuses[bot._id] == 1;
        },
      }
    }
  }),
  methods: {
    /**
     * Обновить статус ботов
     */
    async updateBots() {
      if (!this.user || !this.user.bots) {
        setTimeout(async () => await this.updateBots(), 250);
        return;
      }

      for (let i = 0; i < this.user.bots.length; i++) {
        /** @type {BotInfo} */
        const v = this.user.bots[i];
        
        const result = await webApi.emit('bot status', {
          _id: v._id
        });

        this.statuses[v._id] = result;
        this.$forceUpdate();
      }

      setTimeout(async () => await this.updateBots(), 1000);
    },

    /**
     * Запустить/остановить бота
     * @param {string} _id
     * @param {boolean} start
     */
    async switchBot(_id, start) { 
      const result = await webApi.emit(`bot ${start ? 'start' : 'stop'}`, {
        _id: _id
      });
      if (typeof result == 'string') {
        showAlert(result);
        return;
      }
    },

    /**
     * Транскрипция статуса бота
     * @param {number} id
     * @returns {string}
     */
    getStatusFromId(id) {
      switch (id){
        case -1:
          return 'выключен';
        case 0:
          return 'неизвестно';
        case 1:
          return 'включён';
      }

      return 'error';
    },
    /**
     * @param {string} id
     */
    async deleteBot() {
      this.showDialog = false;

      const result = await webApi.emit('bot delete', {
        _id: this.currentBot._id,
        token: this.checkDelete,
      });

      if (typeof result == 'string'){
        showAlert(result);
        return;
      }

      this.checkDelete = null;
      showAlert('Бот успешно удален!', 'success');

      this.$store.dispatch('FETCH_USER');
    },

    /**
     * Создать бота 
     */
    async createBot() {
      this.$store.commit('SET_LOADING', true);

      const result = await webApi.emit('bot create', { 
        name: this.bot.name,
        token: this.bot.token
      });

      this.$store.commit('SET_LOADING', false);
      
      if (typeof result != "boolean") {
        showAlert(result);
        return;
      }

      this.$store.dispatch('FETCH_USER');

      showAlert('Бот успешно создан', 'success');
      this.bot.name = '';
      this.bot.token = '';
      this.creationState.show = false;
    },

    /**
     * Начать редактирование бота
     * @param {BotInfo} bot
     */
    editBot(bot) {
      this.currentBot = bot;
      this.creationState.show = false;
    },

    /**
     * Перейти в раздел
     * @param {any} option
     */
    redirect(option) {
      if (this.currentBot == null) {
        return;
      }

      if(!option.canChoose(this.currentBot, this.statuses)) {
        showAlert('Бот должен быть запущен') 
        return;
      }

      const link = option.uri.replace('%ID%', this.currentBot._id);

      this.$router.push(link)
    },

    /**
     * Перейти на определенную ссылку
     * @param {string} link
     */
    open(link) {
      window.open(link);
    },

    /**
     * Перейти к оплате
     */
    goToBill() {
      this.$router.push('/balance');
    }

  },
};
</script>
<style>
  p {
      margin: 0 !important;
  }
  .padding-x {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
</style>
