<template lang='pug'>
  v-row(no-gutters)
            v-col.pa-4(sm="5" cols="12")
              p.font-weight-light.title Список серверов
              
              v-list(two-lines)
                template(v-for='(server, id) in servers')
                  v-list-item.fill(@click='iServer = server')
                    v-list-item-avatar
                      v-icon {{ new Date() - new Date(server.lastUpdate) < 86400 * 1000 ? 'mdi-wifi' : 'mdi-wifi-off' }}
                    v-list-item-content
                      v-list-item-title {{ server.name }} 
                      v-list-item-subtitle {{ server.ip }}
                    v-list-item-action
                      v-icon(@click='removeServer(id)') mdi-delete
                    v-list-item-action.chevron
                      v-icon(large) mdi-chevron-right
                v-list-item(@click='downloadPlugin(bot._id)')
                  v-list-item-avatar
                    v-icon mdi-plus
                  v-list-item-content
                    v-list-item-title Добавить новый сервер
                    v-list-item-subtitle Действие происходит автоматически


            v-col(cols="12" sm="7")
              v-card.elevation-0.py-4.border.padding-x
                template(v-if='iServer')
                  v-row(
                    no-gutters
                    align='start'
                    justify='center'
                  )
                    v-col(cols='9')
                      p.font-weight-light.title Расписание вайпов

                      p.font-weight-light.subtitle.my-2 Подтвержденные даты вайпов
                      v-divider
                      template(v-if='iServer.wipes.length > 0')
                        template(v-for='(value, index) in iServer.wipes')
                          v-list-item
                            v-list-item-avatar 
                              v-icon {{ value.type == 0 ? 'mdi-map' : 'mdi-delete' }}
                            v-list-item-content
                              v-list-item-title 
                                | {{ value.type == 0 ? 'Обычный вайп - только построек ' : 'Глобальный вайп - вместе с рецептами' }}
                              v-list-item-subtitle Дата: {{ value.date }}
                            v-list-item-action
                              v-icon(@click='removeDate(index)') mdi-delete
                      template(v-else)
                        v-subheader.pt-0 Нет подтвержденых дат вайпа
                      v-divider

                      p.font-weight-light.subtitle.my-2 Настройте даты вайпов 
                      v-row(align='start' justify='start' no-gutters)
                        v-col.ma-0.pa-0
                          v-date-picker.elevation-0(flat color='teal' v-model='cDate' :allowed-dates='testDate' no-title :min='getToday()')
                        
                        v-col.ma-0.pa-0
                          template(v-if='cDate')
                            p.font-weight-light.mt-2 Какой будет вайп?
                            v-list
                            template(v-for='(wipeType, wipeIndex) in wipeTypes')
                              v-list-item(@click='addDate(wipeIndex)')
                                v-list-item-avatar 
                                  v-icon {{ wipeType.icon }}
                                v-list-item-content
                                  v-list-item-title {{ wipeType.name }}
                                  v-list-item-subtitle {{ wipeType.description }}

                          template(v-else) 
                            v-subheader.pt-0 Не выбрана дата

                template(v-else)
                  p.font-weight-light.title Расписание вайпов 
                  p.font-weight-thin.subtitle Не выбран сервер для настройки 
        




</template>

<script>
import { mapGetters } from 'vuex';

export default {
  async mounted() {
  },
  props: ['servers'],
  computed: {
    ...mapGetters({
      user: 'USER'
    }),
    bot() {
      const { id } = this.$route.params;

      if (!this.user) {
        console.error('Пользователь ещё не загружен!');
        return null;
      }

      return this.user.bots.find(v => v._id == id);
    }
  },
  data: function () {
    return {
      /**
       * Выбранный сервер
       */
      iServer: null,

      /**
       * Текущая выбранная дата
       */
      cDate: null,
      today: null,

      wipeTypes: [{
        name: 'Только карта',
        description: 'Без удаления рецептов',
        icon: 'mdi-map'
      }, {
        name: 'Глобальный вайп',
        description: 'С удалением рецептов',
        icon: 'mdi-receipt'
      }]
    }
  },
  methods: {
    /**
     * Скачать плагин для сервера
     * @param {string} id
     */ 
    async downloadPlugin(id) {
      const result = await webApi.emit('bot download plugin', {
        _id: this.bot._id
      });

      if (!result) {
        showAlert('Ошибка сохранения плагина!'); 
        return;
      }

      const blob = new Blob([result], { type: "text/plain"});
      const uri = window.URL.createObjectURL(blob);

      const a = document.createElement('a');
      a.href = uri;
      a.download = 'VKBot.cs';
      a.click();
    },

    /**
     * Удалить сервер
     */
    async removeServer(id) {
      const result = await webApi.emit('bot remove server', {
        _id: this.bot._id,
        serverId: id
      });

      if (typeof result == 'string') {
        showAlert(result);
        return;
      }

      showAlert('Сервер успешно удалён!', 'success');
    },

    /**
     * Добавить вайп
     */
    addDate(typeIndex) {
      const already = this.iServer.wipes.find(v => v.date == this.cDate);
      if (already) {
        showAlert('Эта дата вайпа уже указана!');
        return;
      }

      this.iServer.wipes.push({
        date: this.cDate,
        type: typeIndex
      });

      this.cDate = null;
    },

    removeDate(dateIndex) {
      this.iServer.wipes.splice(dateIndex, 1);
    },

    testDate(date) {
      const exists = this.iServer.wipes.find(v => v.date == date);
      return !exists;
    },

    getToday() { 
      return `${new Date().toISOString()}`
    }
  },
};
</script>
<style>
  p {
      margin: 0 !important;
  }
  .square-btn {
    border-radius: 0 !important;
  }
    .v-btn__content {
      width: 100%;
    }
  .theme--light.v-btn:hover:before {
    opacity: .01 !important;
  }
  .theme--light.v-btn:focus:before {
    opacity: .01 !important;
  }
  .chevron {
    opacity: 0;
    transition: all .3s ease;
  }
  .fill:hover > .chevron {
    opacity: 1;
  }
  .border {
    transition: all .3s;
    border: solid 1px;
    border-color: rgb(0 0 0 / 0.04) !important;
    border-radius: 0 !important;
  }
</style>
