<template lang='pug'>
  div
    p.font-weight-light.display-1 Подписчики   
    p.font-weight-thin.heading Здесь показываются пользователи, которые подписались на рассылку
    v-text-field.px-5.py-2(
      v-model="searchBy" 
      label="Поиск по ID (VK или Steam)" 
      prepend-inner-icon="mdi-magnify"
    )

    template(v-if="subscribers")
      v-row(no-gutters)
        template(v-for="sub in filtered")
          v-col(sm="4" cols="6")
            v-list
              v-list-item
                v-list-item-avatar
                  img(:src="sub.info.avatar" alt='John')
                v-list-item-content
                  v-list-item-title {{sub.info.name}} {{sub.info.family}}
                  v-list-item-subtitle
                    a(:href='"https://vk.com/id" + sub.vkId') https://vk.com/id{{sub.vkId}}
                v-list-item-action
                  v-avatar(v-if="sub.steamId")
                    v-icon(@click="openSteam(sub)" style="font-size: 30px") mdi-steam
    template(v-else)
      v-btn(disabled block text) Пока нет подписчиков
          

        
</template>

<script>

export default {
  props: ['subscribers'],
  async mounted() {
  },
  computed: {
    filtered() {
      if (this.searchBy.length == 0) {
        return this.subscribers;
      }

      const filter = this.subscribers.filter((/** @type {Subscriber} */ v) => {

        if (v.steamId && v.steamId.includes(this.searchBy.toLowerCase())) {
          return true;
        }


        if (v.vkId.toString().includes(this.searchBy.toLowerCase())) {
          return true;
        }

        return false;
      })
      return filter;
    },
  },
  data: () => ({
    searchBy: '',
    
  }),
  methods: {

    /**
     * @param {Subscriber} sub
     */
    openSteam(sub) {
      if (!sub.steamId) {
        return;
      }
      window.location.href = `https://steamcommunity.com/profiles/${sub.steamId}`;
    }
    
  },
};
</script>
<style>
  p { 
      margin: 0 !important;
  }
  a { color:#838383 !important }
  a:hover { color:#373737 !important }

  button:hover {
    background: #c9c9c9;
   } 
</style>
