<template lang='pug'>
  div
    template(v-if='user')
      v-list.py-0.my-3(style='width: 100%;') 
        v-list-item
          v-btn(
            text 
            height="80%"   
            style="font-weight: 300"
            @click="goToMain()"
          )
            v-list-item-avatar
              v-img(:src='user.avatar')
            v-list-item-content()
              v-list-item-title.username {{ user.displayName }}
          v-spacer
          v-list-item-action
            v-bottom-navigation.pa-0.ma-0.elevation-0
              v-btn(text @click='' style="border-radius: 4px")
                p.font-weight-light(style="color: #c8c8c8") помощь
                v-icon(color="#c8c8c8" ) mdi-help-circle-outline
              v-btn(text @click='goToBill()' style="border-radius: 4px")
                p.font-weight-light пополнить баланс
                p.font-weight-regular.title {{ user.balance }} рублей
        v-progress-linear(color='teal' :indeterminate='loading' :background-opacity='loading ? 0.3 : 0')

</template>

<script>
import { mapGetters } from 'vuex';

export default {
  async mounted() {
  },
  computed: {
    ...mapGetters({
      user: 'USER',
      loading: 'LOADING'
    })
  },
  data: () => ({
    
  }),
  methods: {
    /**
     * Перейти к оплате
     */
    goToBill() {
      this.$router.push('/balance');
    },

    /**
     * Перейти в главное меню
     */
    goToMain() {
      this.$router.push('/index');
    }

  },
};
</script> 
<style>
  p {
      margin: 0 !important;
  }
  .username {
    font-size: 17px;
  }
</style>
