doctype html
head
	title Тестовый сайт
	meta(name="viewport" content="initial-scale=1.0, width=device-width")
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")
	link(href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet")
body()
	#app
	script(src="/main.js")
	script(src="/runtime~main.js")   
	script(src="/vendors~main.js") 