<template lang="pug">
	v-app#app
		div.ma-1(style='position: fixed; z-index: 99; bottom: 0')
			template(v-for='(value) in notifications')
				v-alert.mb-1.font-weight-light(
					v-model='value.show'
					colored-border
					border='left'
					:color='colors[value.type]'
					:transition="value.show ? 'scroll-x-transition' : 'scroll-y-transition'"
					:type='value.type' 
				) {{ value.text }}
		router-view.view() 
</template>

<script> 
import { mapGetters } from 'vuex'; 

	export default {
		async mounted() {
			window.showAlert = (text, type = 'error', time = 2000) => {
				const result = {
					show: false,
					text: text,
					type: type
				};

				this.notifications.push(result);

				setTimeout(() => result.show = true, 50);
				setTimeout(() => {
					result.show = false;
				}, time);
			};

			this.$store.dispatch('FETCH_USER');
        },
		data   : () => ({
			drawer: null,
			routerStack    : router.panel, 
			serverConnected: false,

			notifications: [{
				show: false,
				text: '',
				type: 'error'
			}],

			colors: {
				error: 'red',
				info: 'blue',
				success: 'green'
			}
		}),
		computed: {
			...mapGetters({
				user: 'USER'
			})
		},
		methods: {
			async webApiReady() {
				this.serverConnected = true;
			}
		}
	};
</script>
<style>
.v-btn {
	text-transform: none;
}
</style>